<div class="col-sm-12 book-wrapper">
  <!-- <button class="btn alert-warning" {{action "updateBook"}}>Edit Book</button> -->
  <button class="btn alert-danger" {{action "delete"}}>Remove Book</button>
  <h2>{{book.title}}</h2>
  <div class="row">
    <div class="col-sm-6">
      <img class="book-cover-image" src={{book.cover_img}} alt="Book Cover Image">
    </div>
    <div class="col-sm-6">
      <h3>{{book.author}}</h3>
      <h4>{{book.description}}</h4>
    </div>
  </div>
</div>
